/* padding y border dentro del porcentaje */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bg {
    background: url('../Imagenes/bg.jpg') ; 

}

.nav-item:hover {
    background-color: #b35cfa;
    cursor: pointer;
}

.nav-item:hover .nav-link{
    color: white;
}

.container {
    padding-top: 80px;
}

.ladoDesc {
    font-weight: bold;
}

.ladoInfo {
    word-break: break-all;
}

@media (min-width: 1200px) {
    .ladoInfo {
        padding-left: 20px;     
    }

    .icono {
        padding-right: 15px; 
    }    
}

#informacion_personal {
    background-color: transparent;
}

#experiencia {
    background-color: transparent;
}

#habilidades {
    background-color: transparent;
}

.colInfo {
    padding-top: 10px;
}

.colInfo img {
    padding-bottom:20px;
}

.icono {
    padding-right: 5px;
}

.mMas {
    color: blue;
    text-decoration: underline blue; 
    cursor: pointer;
    display: block;
}

#mMasTrabajo1 {
    display: none;
}

#mMasTrabajo2 {
    display: none;
}

#mMasTrabajo3 {
    display: none;
}

