/* padding y border dentro del porcentaje */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bg {
    background: url('../Imagenes/bg.jpg') ; 

}

.nav-item:hover {
    background-color: #b35cfa;
}

.nav-item:hover .nav-link{
    color: black;
}

.container {
    padding-top: 20px;
}

.ladoDesc {
    font-weight: bold;
}

.ladoInfo {
    word-break: break-all;
}

@media (min-width: 1200px) {
    .ladoInfo {
        padding-left: 20px;     
  }

    .icono {
        padding-right: 15px; 
    }

    
}

#informacion_personal {
    background-color: transparent;
}

#experiencia {
    background-color: transparent;
}

#habilidades {
    background-color: transparent;
}

.colInfo {
    padding-top: 10px;
}

.colInfo img {
    padding-bottom:20px;
}

.icono {
    padding-right: 10px;
}


